Command Center/flows.json
[
    {
        "id": "9fb6353075fc0809",
        "type": "tab",
        "label": "流程2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "399ef9240d7059aa",
        "type": "ui_template",
        "z": "9fb6353075fc0809",
        "group": "3bcfafcb43bb9a1a",
        "name": "",
        "order": 1,
        "width": 14,
        "height": "12",
        "format": "<div style=\"\n    display: flex; \n    justify-content: center; \n    align-items: center; \n    height: 100%; \n    width: 100%; \n    overflow: hidden;\">\n\n    <img src=\"http://192.168.50.161:5000/video_feed\"\n         style=\"\n            max-width: 100%; \n            max-height: 100%; \n            object-fit: contain; \n            border-radius: 8px;\">\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 180,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "3bacfca6f28725b9",
        "type": "aedes broker",
        "z": "9fb6353075fc0809",
        "name": "MQTT broker",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "persistence_bind": "memory",
        "dburl": "",
        "usetls": false,
        "x": 190,
        "y": 140,
        "wires": [
            [
                "f3fb9c4593aaf42e"
            ],
            [
                "ea8a62edd930292b"
            ]
        ]
    },
    {
        "id": "f3fb9c4593aaf42e",
        "type": "debug",
        "z": "9fb6353075fc0809",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 80,
        "wires": []
    },
    {
        "id": "ea8a62edd930292b",
        "type": "debug",
        "z": "9fb6353075fc0809",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 160,
        "wires": []
    },
    {
        "id": "b32b890b97b2269d",
        "type": "mqtt out",
        "z": "9fb6353075fc0809",
        "name": "",
        "topic": "patrol/car/mode",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f69c206c8057ba49",
        "x": 780,
        "y": 360,
        "wires": []
    },
    {
        "id": "8890f625318a6282",
        "type": "mqtt out",
        "z": "9fb6353075fc0809",
        "name": "",
        "topic": "patrol/car/manual_cmd",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f69c206c8057ba49",
        "x": 1100,
        "y": 580,
        "wires": []
    },
    {
        "id": "c79b1785e52a8550",
        "type": "function",
        "z": "9fb6353075fc0809",
        "name": "function 1",
        "func": "// ==========================================\n// Dual Slider Mixing with Dead Zone Compensation\n// ==========================================\n\n// 1. Set motor physical limits (Adjust based on your tests)\nvar minPWM = 180; // Minimum PWM to move the motor (start-up voltage)\nvar maxPWM = 230; // Maximum PWM speed\n\n// 2. Read slider values\n// Try to get the saved values from context memory. Default to 0.0 if not found.\nvar currentSpeed = context.get('saved_speed') || 0.0;\nvar currentTurn = context.get('saved_turn') || 0.0;\n\n// Check which slider sent the data and update the corresponding variable\nif (msg.topic === \"speed\") {\n    currentSpeed = parseFloat(msg.payload);\n    context.set('saved_speed', currentSpeed); // Save to memory\n}\nelse if (msg.topic === \"turn\") {\n    currentTurn = parseFloat(msg.payload);\n    context.set('saved_turn', currentTurn);   // Save to memory\n}\n\n// 3. Differential Steering Calculation (Raw Ratio)\n// Calculate the raw ratio (-2.0 to 2.0) based on speed and turn inputs\nvar rawLeft = currentSpeed + currentTurn;\nvar rawRight = currentSpeed - currentTurn;\n\n// Clamp the ratio between -1.0 and 1.0 to avoid exceeding limits\nrawLeft = Math.max(-1.0, Math.min(1.0, rawLeft));\nrawRight = Math.max(-1.0, Math.min(1.0, rawRight));\n\n// 4. Value Mapping Function (The Core Magic)\n// Maps the 0~1 ratio to the actual PWM range (minPWM ~ maxPWM)\nfunction mapPwm(ratio) {\n    // If the slider value is very small (noise), treat it as 0\n    if (Math.abs(ratio) < 0.05) {\n        return 0;\n    }\n\n    // Calculate PWM magnitude using linear interpolation\n    // Formula: Start Value + (Range * Ratio)\n    var pwm = minPWM + ((maxPWM - minPWM) * Math.abs(ratio));\n\n    // Round to the nearest integer\n    pwm = Math.round(pwm);\n\n    // Add the sign back (direction)\n    if (ratio < 0) {\n        return -pwm;\n    } else {\n        return pwm;\n    }\n}\n\n// 5. Calculate Final PWM\nvar finalLeft = mapPwm(rawLeft);\nvar finalRight = mapPwm(rawRight);\n\n// 6. Output\n// Format: \"LeftPWM,RightPWM\" (e.g., \"-150,150\")\nmsg.payload = finalLeft + \",\" + finalRight;\n\n// (For debugging) Uncomment the line below to see values in the Debug window\n// node.warn(\"L: \" + finalLeft + \" R: \" + finalRight);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 540,
        "wires": [
            [
                "8890f625318a6282",
                "bf720e024d56527f",
                "64570204dce355a3"
            ]
        ]
    },
    {
        "id": "a2848909c33ec755",
        "type": "ui_button",
        "z": "9fb6353075fc0809",
        "name": "",
        "group": "24d0cd2c4646ec3e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "mode_patrol",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "patrol",
        "payloadType": "str",
        "topic": "patrol/car/mode",
        "topicType": "msg",
        "x": 410,
        "y": 300,
        "wires": [
            [
                "b32b890b97b2269d",
                "c389da23ac91bbb8"
            ]
        ]
    },
    {
        "id": "1d7745d9609f6502",
        "type": "ui_button",
        "z": "9fb6353075fc0809",
        "name": "",
        "group": "24d0cd2c4646ec3e",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "mode_manual",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "manual",
        "payloadType": "str",
        "topic": "patrol/car/mode",
        "topicType": "msg",
        "x": 420,
        "y": 340,
        "wires": [
            [
                "b32b890b97b2269d",
                "c389da23ac91bbb8"
            ]
        ]
    },
    {
        "id": "6964d54258165a6b",
        "type": "ui_button",
        "z": "9fb6353075fc0809",
        "name": "",
        "group": "24d0cd2c4646ec3e",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "mode_follow",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "follow",
        "payloadType": "str",
        "topic": "patrol/car/mode",
        "topicType": "msg",
        "x": 410,
        "y": 380,
        "wires": [
            [
                "b32b890b97b2269d",
                "c389da23ac91bbb8"
            ]
        ]
    },
    {
        "id": "b8d0ee826ba6bb88",
        "type": "switch",
        "z": "9fb6353075fc0809",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "fall_detected",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 370,
        "y": 820,
        "wires": [
            [
                "d3c6f3bb75703c4a",
                "9307d42704e13872"
            ]
        ]
    },
    {
        "id": "e01817a9fcf388f5",
        "type": "mqtt out",
        "z": "9fb6353075fc0809",
        "name": "",
        "topic": "patrol/drone/cmd",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f69c206c8057ba49",
        "x": 950,
        "y": 700,
        "wires": []
    },
    {
        "id": "cc1e16bb6c85fdf3",
        "type": "mqtt out",
        "z": "9fb6353075fc0809",
        "name": "",
        "topic": "patrol/TEMI/cmd",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f69c206c8057ba49",
        "x": 940,
        "y": 820,
        "wires": []
    },
    {
        "id": "f4ce5b4a26c290ac",
        "type": "ui_slider",
        "z": "9fb6353075fc0809",
        "name": "",
        "label": "speed",
        "tooltip": "",
        "group": "24d0cd2c4646ec3e",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "speed",
        "topicType": "str",
        "min": "-1",
        "max": "1",
        "step": "0.1",
        "className": "",
        "x": 390,
        "y": 480,
        "wires": [
            [
                "c79b1785e52a8550"
            ]
        ]
    },
    {
        "id": "c45abc868223cff3",
        "type": "ui_slider",
        "z": "9fb6353075fc0809",
        "name": "",
        "label": "turn",
        "tooltip": "",
        "group": "24d0cd2c4646ec3e",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "turn",
        "topicType": "str",
        "min": "-1",
        "max": "1",
        "step": "0.1",
        "className": "",
        "x": 390,
        "y": 660,
        "wires": [
            [
                "9591f36486ef5818",
                "c79b1785e52a8550"
            ]
        ]
    },
    {
        "id": "427c83526267e36a",
        "type": "inject",
        "z": "9fb6353075fc0809",
        "name": "initial",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 190,
        "y": 480,
        "wires": [
            [
                "f4ce5b4a26c290ac"
            ]
        ]
    },
    {
        "id": "87c5bdb2d9afd9f0",
        "type": "inject",
        "z": "9fb6353075fc0809",
        "name": "initial",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 210,
        "y": 660,
        "wires": [
            [
                "c45abc868223cff3"
            ]
        ]
    },
    {
        "id": "9591f36486ef5818",
        "type": "trigger",
        "z": "9fb6353075fc0809",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "nul",
        "op2type": "num",
        "duration": "300",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 390,
        "y": 560,
        "wires": [
            [
                "c45abc868223cff3"
            ]
        ]
    },
    {
        "id": "69ed754246f357aa",
        "type": "ui_text",
        "z": "9fb6353075fc0809",
        "group": "274fd420d40e97af",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 670,
        "y": 860,
        "wires": []
    },
    {
        "id": "c389da23ac91bbb8",
        "type": "ui_text",
        "z": "9fb6353075fc0809",
        "group": "88f455fa8c3a6162",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 750,
        "y": 280,
        "wires": []
    },
    {
        "id": "bf720e024d56527f",
        "type": "ui_text",
        "z": "9fb6353075fc0809",
        "group": "24d0cd2c4646ec3e",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1050,
        "y": 520,
        "wires": []
    },
    {
        "id": "64570204dce355a3",
        "type": "debug",
        "z": "9fb6353075fc0809",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 460,
        "wires": []
    },
    {
        "id": "9307d42704e13872",
        "type": "trigger",
        "z": "9fb6353075fc0809",
        "name": "",
        "op1": "Someone falls!!!",
        "op2": "Nothing happens",
        "op1type": "str",
        "op2type": "str",
        "duration": "3",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 520,
        "y": 860,
        "wires": [
            [
                "69ed754246f357aa"
            ]
        ]
    },
    {
        "id": "ce6bb85064c8a034",
        "type": "mqtt in",
        "z": "9fb6353075fc0809",
        "name": "",
        "topic": "patrol/car/mode",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f69c206c8057ba49",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 420,
        "y": 240,
        "wires": [
            [
                "c389da23ac91bbb8"
            ]
        ]
    },
    {
        "id": "8029351030c6b79a",
        "type": "ui_text",
        "z": "9fb6353075fc0809",
        "group": "56e343c4c9eb2028",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 530,
        "y": 1000,
        "wires": []
    },
    {
        "id": "679e92fb0d7829b6",
        "type": "mqtt in",
        "z": "9fb6353075fc0809",
        "name": "",
        "topic": "patrol/car/coordinate",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f69c206c8057ba49",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 1000,
        "wires": [
            [
                "8029351030c6b79a"
            ]
        ]
    },
    {
        "id": "d3c6f3bb75703c4a",
        "type": "function",
        "z": "9fb6353075fc0809",
        "name": "function 2",
        "func": "// Generate a random number between 0.0 and 1.0\nvar chance = Math.random();\n\n// Define three variables corresponding to the three outputs (default is null, meaning no message sent)\nvar msgDrone = null;\nvar msgTEMI = null;\nvar msgDisplay = { payload: \"\" };\n\n// --- Random Logic ---\nif (chance < 0.5) {\n    // 50% chance: Dispatch Drone\n    // Set command (configure payload based on your Drone requirements)\n    msgDrone = { payload: \"takeoff_and_search\" };\n\n    // Set dashboard display text\n    msgDisplay.payload = \"Dispatching [Drone] to the scene for assistance!\";\n\n} else {\n    // 50% chance: Dispatch TEMI\n    // Set command\n    msgTEMI = { payload: \"go_to_accident_site\" };\n\n    // Set dashboard display text\n    msgDisplay.payload = \"Dispatching [TEMI Robot] to the scene for assistance!\";\n}\n\n// --- Output ---\n// The array order corresponds to the node's Output 1, 2, 3\nreturn [msgDrone, msgTEMI, msgDisplay];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 800,
        "wires": [
            [
                "e01817a9fcf388f5"
            ],
            [
                "cc1e16bb6c85fdf3"
            ],
            [
                "f31442ade761864d"
            ]
        ]
    },
    {
        "id": "10116b91d5ed92bc",
        "type": "mqtt in",
        "z": "9fb6353075fc0809",
        "name": "",
        "topic": "patrol/car/alert",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f69c206c8057ba49",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 860,
        "wires": [
            [
                "b8d0ee826ba6bb88"
            ]
        ]
    },
    {
        "id": "da0aeb3c08b6a017",
        "type": "ui_button",
        "z": "9fb6353075fc0809",
        "name": "",
        "group": "24d0cd2c4646ec3e",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "dispatch_drone",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "takeoff_and_search",
        "payloadType": "str",
        "topic": "patrol/drone/cmd",
        "topicType": "msg",
        "x": 520,
        "y": 740,
        "wires": [
            [
                "9f0f1d1f0ee7f4c3",
                "e01817a9fcf388f5"
            ]
        ]
    },
    {
        "id": "e3848e4505f64f24",
        "type": "ui_button",
        "z": "9fb6353075fc0809",
        "name": "",
        "group": "24d0cd2c4646ec3e",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "dispatch_TEMI",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "go_to_accident_site",
        "payloadType": "str",
        "topic": "patrol/TEMI/cmd",
        "topicType": "msg",
        "x": 520,
        "y": 920,
        "wires": [
            [
                "3ba59b33123168af",
                "cc1e16bb6c85fdf3"
            ]
        ]
    },
    {
        "id": "9f0f1d1f0ee7f4c3",
        "type": "change",
        "z": "9fb6353075fc0809",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Dispatching [Drone] to the scene for assistance!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 760,
        "wires": [
            [
                "3e71a7fa4a8a0c21"
            ]
        ]
    },
    {
        "id": "3ba59b33123168af",
        "type": "change",
        "z": "9fb6353075fc0809",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Dispatching [TEMI Robot] to the scene for assistance!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 920,
        "wires": [
            [
                "71849ed87d3d2bcf"
            ]
        ]
    },
    {
        "id": "f31442ade761864d",
        "type": "ui_text",
        "z": "9fb6353075fc0809",
        "group": "24d0cd2c4646ec3e",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1290,
        "y": 900,
        "wires": []
    },
    {
        "id": "5201406ae4678223",
        "type": "inject",
        "z": "9fb6353075fc0809",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "fall_detected",
        "payloadType": "str",
        "x": 210,
        "y": 760,
        "wires": [
            [
                "b8d0ee826ba6bb88"
            ]
        ]
    },
    {
        "id": "3e71a7fa4a8a0c21",
        "type": "trigger",
        "z": "9fb6353075fc0809",
        "name": "",
        "op1": "Dispatching [Drone] to the scene for assistance!",
        "op2": "Condition cleared!!",
        "op1type": "str",
        "op2type": "str",
        "duration": "30",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1160,
        "y": 780,
        "wires": [
            [
                "f31442ade761864d"
            ]
        ]
    },
    {
        "id": "71849ed87d3d2bcf",
        "type": "trigger",
        "z": "9fb6353075fc0809",
        "name": "",
        "op1": "Dispatching [TEMI Robot] to the scene for assistance!",
        "op2": "Condition cleared!!",
        "op1type": "str",
        "op2type": "str",
        "duration": "30",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1100,
        "y": 920,
        "wires": [
            [
                "f31442ade761864d"
            ]
        ]
    },
    {
        "id": "33377d1d0409804d",
        "type": "ui_spacer",
        "z": "9fb6353075fc0809",
        "name": "spacer",
        "group": "24d0cd2c4646ec3e",
        "order": 4,
        "width": "8",
        "height": "1"
    },
    {
        "id": "3d5fa489c4fc739c",
        "type": "ui_spacer",
        "z": "9fb6353075fc0809",
        "name": "spacer",
        "group": "24d0cd2c4646ec3e",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "3bcfafcb43bb9a1a",
        "type": "ui_group",
        "name": "stream",
        "tab": "2b88a70882a5f9e1",
        "order": 3,
        "disp": true,
        "width": 14,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f69c206c8057ba49",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "24d0cd2c4646ec3e",
        "type": "ui_group",
        "name": "control",
        "tab": "2b88a70882a5f9e1",
        "order": 2,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "274fd420d40e97af",
        "type": "ui_group",
        "name": "Alert",
        "tab": "2b88a70882a5f9e1",
        "order": 4,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "88f455fa8c3a6162",
        "type": "ui_group",
        "name": "Car Mode",
        "tab": "2b88a70882a5f9e1",
        "order": 5,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "56e343c4c9eb2028",
        "type": "ui_group",
        "name": "On-site Coordinate",
        "tab": "2b88a70882a5f9e1",
        "order": 7,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2b88a70882a5f9e1",
        "type": "ui_tab",
        "name": "Command Center",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "07fbcda1d2f3c9fa",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6",
            "node-red-contrib-aedes": "0.15.0"
        }
    }
]